
.containerr {
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}

.footerr {
  width: auto;
  height: 314px;
  background: #2a2941;
}
.footer-desc {
  font-family: Circular Std;
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  text-align: left;
  color:white;
}
.footer-menu{
  line-height:34px;
}

